{% assign my_num = 11 %}

{% if my_num > 10 %}

    <p>My number is greater than 10.</p>
    
    {% else %}
    
    <p>My number is less than or equal to 10.</p>
    
    {% endif %}

{% unless my_num > 10 %} 
    <p>My number is less than or equal to 10.</p>
{% endunless %}

{% case my_num %}
    {% when 1 %}
        <p>My number is 1.</p>
    {% when 2 %}
        <p>My number is 2.</p>
    {% when 3 %}
        <p>My number is 3.</p>
    {% else %}
        <p>My number is not 1, 2, or 3.</p>
{% endcase %}

{% for i in (1..5) %}
    <p>My number is {{ i }}.</p>
{% endfor %}

{% for i in (1..5) %}
    {% if i == 3 %}
        <p>My number is 3.</p>
    {% else %}
        <p>My number is not 3.</p>
    {% endif %}
{% endfor %}

{% for i in (1..5) %}
    {% case i %}
        {% when 1 %}
            <p>My number is 1.</p>
        {% when 2 %}
            <p>My number is 2.</p>
        {% when 3 %}
            <p>My number is 3.</p>
        {% else %}
            <p>My number is not 1, 2, or 3.</p>
    {% endcase %}
{% endfor %}

{% assign my_array = "apple, banana, cherry" | split: ", " %}

{% for fruit in my_array %}
    <p>{{ fruit }}</p>
{% endfor %}

{% assign my_hash = "apple: red, banana: yellow, cherry: red" | split: ", " | map: "split: ': '" | map: "join: ' - '" | map: "strip" | map: "capitalize" | map: "prepend: 'The ' | append: ' fruit'" | join: ", " %}